.construction-card {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    text-decoration: none;
    &__title {
        margin-bottom: auto;
        margin-top: 38px;
        @include to(600px){
            margin-top: 20px;
        }
    }
    &__button {
        padding: pxWidthInVw(16) pxWidthInVw(28);
        display: flex;
        align-items: center;
        gap: pxWidthInVw(12);
        @include text-style-1920-button;
        text-transform: uppercase;
        color: var(--color-ffffff);
        background-color: var(--color-07222-f);
        @media screen and (max-width:600px){
            padding: 20px;
            background-color: transparent;
            padding: 0;
            margin-left: auto;
            svg {
                width: 24px;
                height: 24px;
                margin-right: 12px;
                transform: rotate(-45deg);
            }
            svg [fill] {
                fill: var(--color-07222-f);
            }
            span {
                display: none;
            }
        }
    }
    @media (hover: hover) {
        &__button svg,
        &__button span {
            position: relative;
            z-index: 2;
        }
        &__button {
            position: relative;
        }
        &__button:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform-origin: top;
            background-color: var(--color-14427-c);
            transform: scaleY(0);
            transition: .25s ease-out;
        }
        &:hover &__button:after {
            transform: scaleY(1);
        }
    }
    &__img-wrapper {
        
    }
    &__img {
        width: 50%;
        &-wrap {
            padding-bottom: 153%;
            position: relative;
            @include from-to(769px, 1024px){
                padding-bottom: 60vh;
            }
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include from-to(769px, 1024px){ 
                object-position: bottom;
            }
        }
    }
    &__text {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        padding: pxWidthInVw(40);
        color: var(--color-07222-f);
        background: var(--White, #EFF3F7);
        // padding: ;
        @media screen and (max-width:600px){
            padding: 16px 12px;
        }
    }
    &__date {
        @include text-style-1920-button;
    }
    @media (hover: hover) {
        overflow: hidden;
        &__img img {
            transition: .25s ease-out;
        }
        &:hover &__img img {
            transform: scale(1.05);
        }
    }
}