.sticky-block-custom-card {
    background-color: var(--color-14427-c);
    padding: 106px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include to(600px){
        padding: 36px 20px;
    }
    &__decor {
        margin-bottom: 40px;
        @include to(600px){
            margin-bottom: 20px;
            width: 49px;
            height: auto;
        }
    }
    &__title {
        @include text-style-1920-h-3;
        @include to(1024px){
            @include text-style-768-h-3;
        }
        @include to(600px){
            @include text-style-375-h-4;
        }
        text-align: center;
        color: var(--color-white);
        margin-bottom: 40px; 
        @include to(600px){
            margin-bottom: 20px;
        }
    }
}
