.sticky1-card {
    position: relative;
    border: 1px solid rgba(239, 243, 247, 0.20);
    &__img-wrap {
        padding-bottom: min(70.3%, 80vh);
        position: relative;
        @include from-to(990px, 1023px){
            padding-bottom: 42%;
        }
    }
    &__number {
        @include text-style-1920-h-2;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: var(--color-white);
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background: linear-gradient(0deg, rgba(34, 26, 34, 0.20) 0%, rgba(34, 26, 34, 0.20) 100%), linear-gradient(180deg, rgba(34, 26, 34, 0.00) 64.45%, rgba(34, 26, 34, 0.70) 82.4%, #221A22 100%);
        background-blend-mode: color, multiply, normal;
        @include to(600px){
            padding: 20px;
        }
    }
}
