.construction-container {
    display: flex;
    flex-wrap: wrap;
    --gap: 20px;
    gap: var(--gap);
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    .construction-card {
        width: calc(32.333% - (var(--gap) / 6));
        @include to(1024px){
            width: 100%;
        }
    }
}

.construction-load-more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: calc(var(--section-v-offset) * 1.33);
}