@import '../components/sticky-block';
@import '../components/sticky-block-buttons';
@import '../components/sticky3-card';
@import '../layouts/about-decor';
.infrastructure-block-with-render {
    &__content {
        max-width: 1065px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include to(1024px){
            margin-bottom: -10vw;
            position: relative;
            z-index: 2;
            padding-left: var(--page-side-fields);
            padding-right: var(--page-side-fields);
        }
        svg {
            margin-top: 40px;
        }
    }
    &__bg {
        position: relative;
        height: calc(100vw / 1920 * 1080);
        overflow: hidden;
        @include to(1024px){
            height: calc(100vw / 768 * 700);
        }
        
        svg {
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 100%;
            height: calc(100vw / 1920* 160);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__bg:after {
        content: '';
        background: linear-gradient(0deg, rgba(228, 228, 236, 0.00) 0%, #E4E4EC 100%);
        position: absolute;
        left: 0;
        top: -1px;
        width: 100%;
        height: 50%;
        pointer-events: none;
        @include from(1025px){
            height: 20%;
        }
    }
}
.infrastructure-block-with-render2 {
    margin-top: calc(var(--section-v-offset) * 1.5);
    margin-bottom: calc(var(--section-v-offset) * 1.5);
    &__content {
        max-width: 1065px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include to(600px){
            margin-bottom: -5vw;
            position: relative;
            z-index: 2;
            padding-left: calc(var(--page-side-fields));
            padding-right: calc(var(--page-side-fields));
            width: 100%;
            .text-style-1920-h-2 {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;align-items: center;
            }
        }
        svg {
            margin-top: 40px;
            @include to(600px){
                margin-top: 20px;
            }
        }
    }
    &__bg {
        position: relative;
        height: calc(100vw / 1920 * 1517);
        overflow: hidden;
        @include to(1024px){
            height: calc(100vw / 768 * 700);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__bg:after {
        content: '';
        background: linear-gradient(0deg, rgba(228, 228, 236, 0.00) 0%, #E4E4EC 100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        pointer-events: none;
        @include to(1024px){
            height: 30%;
        }
    }
}
.infrastructure-block-with-render3 {
    margin-bottom: calc(var(--section-v-offset) * 1.5);
    &__content {
        max-width: 1065px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include from(1025px){
            margin-bottom: -10vw;
        }
        @include to(1024px){
            margin-bottom: -10vw;
        }
        position: relative;
        z-index: 2;
        svg {
            margin-top: 40px;
            @include to(600px){
                margin-top: 20px;
            }
        }
        @include to(600px){
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &__bg {
        position: relative;
        height: calc(100vw / 1920 * 1080);
        overflow: hidden;
        @include to(1024px){
            height: calc(100vw / 768 * 700);
        }
        @include to(600px){
            height: calc(100vw / 375 * 429);
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 59%;
            pointer-events: none;
            background: linear-gradient(180deg, rgba(228, 228, 236, 0.00) 0%, rgba(228, 228, 236, 0.80) 66.5%, #E4E4EC 100%);
            @include to(1024px){
                height: 40%;
            }
            @include to(600px){
                height: 15% !important;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__bg:after {
        content: '';
        background: linear-gradient(0deg, rgba(228, 228, 236, 0.00) 0%, #E4E4EC 100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        pointer-events: none;
    }
}
.infrastructure-block-with-render4 {
    margin-bottom: calc(var(--section-v-offset) * 1.5);
    &__content {
        max-width: 1065px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        z-index: 2;
        @include from(1025px){
            margin-bottom: -8vw;
        }
        @include to(1024px){
            padding-left: var(--page-side-fields);
            padding-right: var(--page-side-fields);
            margin-bottom: -18vw;
        }
        @include to(600px){
            margin-bottom: -6vw;
        }
        svg {
            margin-top: 40px;
            margin-bottom: 40px;
            @include to(1024px){
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
    }
    &__bg {
        position: relative;
        height: calc(100vw / 1920 * 1528);
        overflow: hidden;
        @include to(1024px){
            height: calc(100vw / 768 * 700);
        }
        @include to(1024px){
            height: calc(100vw / 375 * 340);
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 50%;
            pointer-events: none;
            background: linear-grdient(180deg, rgba(228, 228, 236, 0.00) 0%, rgba(228, 228, 236, 0.80) 66.5%, #E4E4EC 100%);

        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__bg:after {
        content: '';
        background: linear-gradient(0deg, rgba(228, 228, 236, 0.00) 0%, #E4E4EC 100%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        pointer-events: none;
        @include to(1024px){
            height: 30%;
        }
    }
}

@import '../layouts/infrastrucure/infrastructure-grid';
@import '../layouts/infrastrucure/infrastructure-info-block';