@import '../layouts/news-container';

.news-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc(var(--section-v-offset) * 0.66);
}

.tabs {
    display: flex;
    .tab:nth-child(n+2) {
        margin-left: 1px;
    }
}
.tab {
    padding: 19px 30px;
    cursor: pointer;
    @include text-style-1920-button;
    text-transform: uppercase;
    background-color: var(--color-ffffff);
    transition: .25s ease-out;
    @include to(1024px){
        padding-top: 13px;
        padding-bottom: 13px;
    }
    @include to(600px){
        padding: 12px 20px;
    }
    &.active {
        background: var(--07222F, #07222F);
        color: #fff;
        pointer-events: none;
    }
    @media (hover: hover) {
        transition: .25s ease-out;
        &:hover {
            background-color: var(--color-14427-c);
            color: #fff;
        }
    }
}
