.contact-screen
  .contact-screen__bg
    img(src="./assets/images/home/contact-screen/bg.jpg", alt="", srcset="")
  .contact-screen__content
    .contact-screen__title.text-style-1920-h-1 Контакти
    .contact-screen__table
      div.contact-screen__table-item
        .contact-screen__table-title.text-style-1920-body Наша адреса:
        .contact-screen__table-text.text-style-1920-h-4 Ужгород вул. Бабʼяка, 47 
        a(href="https://maps.app.goo.gl/UCv6fygQexh6sAXD6" target='_blank').button-30
          span Прокласти маршрут
      div.contact-screen__table-item
        .contact-screen__table-title.text-style-1920-body Соц. мережі:

        a(href="https://www.instagram.com/riverville.ua?igsh=MXY5b2M1ZTlyaWN0cg==", target="_blank", rel="noopener noreferrer") 
          <svg width="65" height="64" viewBox="0 0 65 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32.5" cy="32" r="32" fill="url(#paint0_radial_533_121)"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.1357 21.0623C29.2708 21.0124 29.637 21 32.5041 21C35.3704 21 35.7379 21.0124 36.8775 21.0665C38.0417 21.1179 38.8567 21.3076 39.5776 21.586C40.338 21.8725 41.0306 22.3237 41.6028 22.9039L41.5996 22.9008L41.2837 23.2241L41.6058 22.907L41.6028 22.9039C42.1887 23.4771 42.6357 24.166 42.926 24.9332C43.205 25.6512 43.3946 26.4706 43.4459 27.6344C43.4959 28.7707 43.5 29.1384 43.5 32.0021C43.5 34.8686 43.4876 35.2348 43.4377 36.3697C43.3863 37.5352 43.1961 38.3506 42.9174 39.072C42.3232 40.6083 41.1083 41.8231 39.5717 42.4173C38.8534 42.6966 38.0335 42.8864 36.8686 42.9377C35.7334 42.9878 35.3671 43 32.5001 43C29.6331 43 29.2666 42.9878 28.1316 42.9377C26.9668 42.8864 26.1518 42.6967 25.4307 42.4182C24.67 42.1316 23.9772 41.6801 23.4048 41.0997L23.4073 41.1022L23.7245 40.7801L23.4024 41.0972L23.4048 41.0997C22.8247 40.5279 22.3733 39.8396 22.0824 39.071C21.8034 38.3531 21.6136 37.5337 21.5623 36.3698C21.5124 35.2349 21.5 34.8686 21.5 32.0021C21.5 29.1363 21.5124 28.7689 21.5665 27.6295C21.6179 26.4654 21.8077 25.6508 22.0862 24.9299C22.3728 24.1697 22.8239 23.4773 23.4042 22.9051L23.4011 22.9082L23.7245 23.2241L23.4073 22.902L23.4042 22.9051C23.9776 22.3193 24.6666 21.8724 25.4341 21.5821C26.152 21.3034 26.9716 21.1136 28.1357 21.0623ZM32.5001 26.7895C29.6235 26.7895 27.2895 29.1233 27.2895 32C27.2895 34.8767 29.6235 37.2105 32.5001 37.2105C35.3768 37.2105 37.7106 34.8767 37.7106 32C37.7106 29.1233 35.3768 26.7895 32.5001 26.7895ZM38.8683 23.3158C37.5895 23.3158 36.5526 24.3524 36.5526 25.6316C36.5526 26.9105 37.5895 27.9474 38.8683 27.9474C40.1473 27.9474 41.1842 26.9105 41.1842 25.6316C41.1842 24.3524 40.1472 23.3158 38.8683 23.3158Z" fill="#EFF3F7"/>
            <defs>
            <radialGradient id="paint0_radial_533_121" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(17.5001 68.9293) rotate(-90) scale(63.4287 58.9937)">
            <stop stop-color="#FFDD55"/>
            <stop offset="0.1" stop-color="#FFDD55"/>
            <stop offset="0.5" stop-color="#FF543E"/>
            <stop offset="1" stop-color="#C837AB"/>
            </radialGradient>
            </defs>
          </svg>
        a(href="https://www.tiktok.com/@riverville.uzh?_t=8q0wGdE1lI6&_r=1", target="_blank", rel="noopener noreferrer") 
          <svg width="65" height="64" viewBox="0 0 65 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32.5" cy="32" r="32" fill="#070303"/>
            <circle cx="32.5" cy="32" r="31.5" stroke="#ADCADE" stroke-opacity="0.3"/>
            <path d="M40.0094 25.1327C39.8536 25.049 39.702 24.9572 39.5551 24.8578C39.1279 24.564 38.7361 24.2179 38.3884 23.8268C37.5183 22.7914 37.1933 21.7409 37.0736 21.0054H37.0784C36.9784 20.395 37.0198 20 37.026 20H33.063V35.9382C33.063 36.1522 33.063 36.3637 33.0543 36.5727C33.0543 36.5987 33.0519 36.6227 33.0505 36.6507C33.0505 36.6622 33.0505 36.6742 33.0481 36.6862C33.0481 36.6892 33.0481 36.6922 33.0481 36.6952C33.0063 37.267 32.83 37.8194 32.5348 38.3038C32.2396 38.7882 31.8344 39.1897 31.3549 39.473C30.8553 39.7687 30.2901 39.9238 29.7152 39.923C27.8688 39.923 26.3723 38.3571 26.3723 36.4232C26.3723 34.4893 27.8688 32.9234 29.7152 32.9234C30.0647 32.923 30.4121 32.9802 30.7444 33.0928L30.7492 28.8961C29.7404 28.7605 28.7155 28.8439 27.7391 29.141C26.7628 29.438 25.8563 29.9423 25.0767 30.622C24.3936 31.2392 23.8194 31.9758 23.3798 32.7984C23.2125 33.0983 22.5813 34.3038 22.5049 36.2602C22.4568 37.3706 22.7774 38.5211 22.9303 38.9966V39.0066C23.0264 39.2865 23.399 40.242 24.0062 41.0474C24.4957 41.6936 25.0742 42.2611 25.7228 42.7319V42.7219L25.7324 42.7319C27.651 44.0878 29.7782 43.9988 29.7782 43.9988C30.1464 43.9833 31.3799 43.9988 32.7808 43.3083C34.3345 42.5429 35.219 41.4024 35.219 41.4024C35.7841 40.721 36.2334 39.9444 36.5477 39.106C36.9063 38.1256 37.026 36.9497 37.026 36.4797V28.0241C37.0741 28.0541 37.7144 28.4946 37.7144 28.4946C37.7144 28.4946 38.6369 29.1095 40.0762 29.51C41.1088 29.795 42.5 29.855 42.5 29.855V25.7632C42.0125 25.8182 41.0227 25.6582 40.0094 25.1327Z" fill="#EFF3F7"/>
          </svg>
        a(href="https://www.facebook.com/profile.php?id=61563002267487", target="_blank", rel="noopener noreferrer") 
          <svg width="65" height="64" viewBox="0 0 65 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32.5" cy="32" r="32" fill="url(#paint0_linear_533_125)"/>
            <circle cx="32.5" cy="32" r="31.5" stroke="#ADCADE" stroke-opacity="0.3"/>
            <path d="M36.3092 23.985H38.5V20.169C38.122 20.117 36.8221 20 35.3083 20C32.1495 20 29.9857 21.987 29.9857 25.639V29H26.5V33.266H29.9857V44H34.2594V33.267H37.6041L38.135 29.001H34.2584V26.062C34.2594 24.829 34.5913 23.985 36.3092 23.985Z" fill="#EFF3F7"/>
            <defs>
            <linearGradient id="paint0_linear_533_125" x1="64.5" y1="-3.8147e-06" x2="0.500004" y2="64" gradientUnits="userSpaceOnUse">
            <stop stop-color="#59B8F8"/>
            <stop offset="1" stop-color="#3977F7"/>
            </linearGradient>
            </defs>
          </svg>


        //- a(href="https://t.me/+380992777077", target="_blank", rel="noopener noreferrer") 
        //-   <svg width="65" height="64" viewBox="0 0 65 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-     <rect x="0.5" width="64" height="64" rx="32" fill="#5DA8DA"/>
        //-     <rect x="1" y="0.5" width="63" height="63" rx="31.5" stroke="#ADCADE" stroke-opacity="0.3"/>
        //-     <path d="M29.9174 34.8632L29.5204 39.8888C30.0884 39.8888 30.3344 39.6692 30.6294 39.4055L33.2925 37.115L38.8106 40.7519C39.8226 41.2595 40.5357 40.9922 40.8087 39.914L44.4308 24.6393L44.4318 24.6384C44.7528 23.292 43.8907 22.7655 42.9047 23.0958L21.6142 30.4316C20.1612 30.9392 20.1832 31.6682 21.3672 31.9985L26.8103 33.5222L39.4536 26.4023C40.0486 26.0477 40.5897 26.2439 40.1446 26.5985L29.9174 34.8632Z" fill="white"/>
        //-   </svg>
        //- a(href="viber://chat?number=+380992777077", target="_blank", rel="noopener noreferrer") 
        //-   <svg width="65" height="64" viewBox="0 0 65 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-     <rect x="0.5" width="64" height="64" rx="32" fill="#7062EA"/>
        //-     <rect x="1" y="0.5" width="63" height="63" rx="31.5" stroke="#ADCADE" stroke-opacity="0.3"/>
        //-     <path d="M41.0408 22.3475C40.462 21.812 38.1468 20.0482 32.9375 20.0168C32.9375 20.0168 26.8144 19.6388 23.829 22.4734C22.1535 24.2057 21.5747 26.6939 21.5138 29.8121C21.4529 32.9302 21.3615 38.757 26.8144 40.3633V42.7885C26.8144 42.7885 26.7839 43.7648 27.3932 43.9538C28.1548 44.2058 28.5813 43.4499 29.3124 42.6625C29.7084 42.2215 30.2568 41.5916 30.6528 41.0877C34.3693 41.4026 37.2329 40.6782 37.568 40.5522C38.3295 40.3003 42.5639 39.7333 43.2646 33.9066C43.9957 27.8593 42.96 24.0483 41.0408 22.3475ZM41.6805 33.4341C41.1017 38.316 37.6594 38.631 37.0196 38.8199C36.7455 38.9144 34.2475 39.5444 31.0793 39.3554C31.0793 39.3554 28.7336 42.2845 27.972 43.0719C27.8502 43.1979 27.7283 43.2294 27.6369 43.2294C27.5151 43.1979 27.4846 43.0404 27.4846 42.82C27.4846 42.505 27.5151 38.7885 27.5151 38.7885C22.9151 37.4656 23.1893 32.4892 23.2197 29.875C23.2807 27.2609 23.7376 25.1506 25.1389 23.7018C27.6674 21.3396 32.8766 21.686 32.8766 21.686C37.2633 21.7175 39.3653 23.0719 39.8527 23.5443C41.4368 24.9931 42.2593 28.4262 41.6805 33.4341Z" fill="white"/>
        //-     <path d="M35.0693 29.6867C35.0084 28.4898 34.4298 27.8599 33.303 27.7969" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        //-     <path d="M36.5933 30.1899C36.6238 29.0875 36.2887 28.1425 35.6489 27.4181C34.9787 26.6622 34.0648 26.2527 32.9071 26.1582" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        //-     <path d="M38.1164 30.8202C38.1164 28.8989 37.5376 27.387 36.4409 26.2846C35.3442 25.1822 33.9733 24.6152 32.3282 24.6152" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
        //-     <path d="M33.364 33.7488C33.364 33.7488 33.7905 33.7803 34.0038 33.4968L34.4303 32.9299C34.6435 32.6464 35.1309 32.4574 35.6488 32.7409C35.923 32.8984 36.4104 33.2134 36.715 33.4653C37.0501 33.7173 37.7203 34.2842 37.7203 34.2842C38.0554 34.5677 38.1163 34.9771 37.9031 35.4181C37.6898 35.8275 37.3852 36.2055 36.9892 36.552C36.6845 36.8354 36.3799 36.9614 36.0753 37.0244H35.9534C35.8316 37.0244 35.6792 36.9929 35.5574 36.9614C35.1004 36.8354 34.3389 36.489 33.0289 35.7645C32.2064 35.2921 31.5058 34.7882 30.927 34.3157C30.6223 34.0638 30.2872 33.7803 29.9826 33.4338L29.8608 33.3078C29.5257 32.9614 29.2515 32.6464 29.0078 32.3315C28.5508 31.733 28.0634 31.0086 27.6065 30.1582C26.9058 28.8354 26.5707 28.048 26.4489 27.544C26.4184 27.4181 26.3879 27.2921 26.3879 27.1346V27.0086C26.4184 26.6937 26.5707 26.3787 26.8449 26.0637C27.18 25.6858 27.5455 25.3708 27.9416 25.1188C28.3681 24.8984 28.7641 24.9614 29.0383 25.3078C29.0383 25.3078 29.5866 26.0007 29.8303 26.3472C30.0435 26.6622 30.3482 27.1661 30.531 27.4496C30.8051 27.9535 30.6223 28.4889 30.3786 28.7094L29.8303 29.1504C29.5561 29.3708 29.5866 29.8118 29.5866 29.8118C29.5866 29.8118 30.3482 32.9299 33.364 33.7488Z" fill="white"/>
        //-   </svg>
        //- a(href="https://m.me/61563002267487", target="_blank", rel="noopener noreferrer") 
        //-   <svg width="65" height="64" viewBox="0 0 65 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-     <circle cx="32.5" cy="32" r="32" fill="url(#paint0_linear_236_180)"/>
        //-     <circle cx="32.5" cy="32" r="31.5" stroke="#ADCADE" stroke-opacity="0.3"/>
        //-     <g clip-path="url(#clip0_236_180)">
        //-     <path d="M20.6528 37.546L26.4475 28.2787C26.6655 27.9298 26.9529 27.6302 27.2915 27.3989C27.6301 27.1676 28.0126 27.0096 28.4149 26.9348C28.8171 26.8601 29.2304 26.8702 29.6286 26.9646C30.0267 27.059 30.4012 27.2356 30.7282 27.4832L35.3393 30.9684C35.5452 31.1238 35.7956 31.2073 36.0528 31.2064C36.3099 31.2055 36.5598 31.1202 36.7646 30.9634L42.9884 26.2005C43.8169 25.5641 44.9018 26.5684 44.3495 27.4583L38.5498 36.7207C38.3319 37.0696 38.0445 37.3692 37.7059 37.6005C37.3672 37.8318 36.9847 37.9898 36.5825 38.0645C36.1802 38.1393 35.767 38.1292 35.3688 38.0348C34.9707 37.9404 34.5962 37.7638 34.2692 37.5162L29.658 34.031C29.4522 33.8756 29.2017 33.7921 28.9446 33.793C28.6874 33.7939 28.4376 33.8792 28.2328 34.036L22.009 38.7989C21.1805 39.4353 20.0955 38.436 20.6528 37.546Z" fill="white"/>
        //-     </g>
        //-     <defs>
        //-     <linearGradient id="paint0_linear_236_180" x1="64.5" y1="-3.8147e-06" x2="0.500004" y2="64" gradientUnits="userSpaceOnUse">
        //-     <stop stop-color="#59B8F8"/>
        //-     <stop offset="1" stop-color="#3977F7"/>
        //-     </linearGradient>
        //-     <clipPath id="clip0_236_180">
        //-     <rect width="24" height="24" fill="white" transform="translate(20.5 20)"/>
        //-     </clipPath>
        //-     </defs>
        //-   </svg>
      div.contact-screen__table-item
        .contact-screen__table-title.text-style-1920-body Відділ інвестицій:
        a(href="tel:+380992777077").contact-screen__table-text.text-style-1920-h-4 +38 099 277 70 77
      div.contact-screen__table-item
        .contact-screen__table-title.text-style-1920-body E-mail:
        a(href="mailto:riverville.uzh@gmail.com" data-email="data-email").contact-screen__table-text.text-style-1920-h-4 riverville.uzh@gmail.com
    form.contact-screen-form(data-contact-screen-form)
      .text-white.text-style-1920-h-2.contact-screen-form__title Зворотній дзвінок
      .text-white.text-style-1920-body.contact-screen-form__subtitle Якщо у вас виникли запитання або потрібна консультація, наші менеджери допоможуть вам у вирішенні будь-яких запитань.
      .contact-screen-form__group(data-status="field--inactive" data-field-input="data-field-input" data-field-name="data-field-name")
        .contact-screen-form__group-message(data-input-message="data-input-message")
        .contact-screen-form__group-title Ім'я:
        input.contact-screen-form__input(type="text" placeholder="Введіть ваше імʼя" name="name")
      .contact-screen-form__group(data-status="field--inactive" data-field-input="data-field-input" data-lenis-prevent  data-field-phone="data-field-phone")
        .contact-screen-form__group-message(data-input-message="data-input-message")
        .contact-screen-form__group-title Телефон:
        input.contact-screen-form__input(type="tel" placeholder="Телефон" name="phone")
      .contact-screen-form__group
        .contact-screen-form__group-title Коментар:
        textarea.contact-screen-form__input(type="text" placeholder="Введіть коментар" name="message")
      button(type="submit" data-btn-submit="data-btn-submit").button-30.contact-screen-form__button
        span(data-btn-submit-text) Надіслати повідомлення