.home-construction-screen {
    margin-top: var(--section-v-offset);
    margin-bottom: var(--section-v-offset);
    display: none;
    &__title {
        text-align: center;
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        margin-bottom: 60px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        &>.button-30 {
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;
        }
        .construction-card {
            @include from(1025px){
                width: 50%;
            }
            @include to(1024px){
                width: 100%;
            }
        }
    }
}