.home-advantages-block {
  position: relative;
  height: calc(100vw / 1920 * 1554);
  // padding-top: 100vh;
  // margin-top: -100vh;
  @include to(1024px){
    height: calc(100vw / 768 * 1024);
  }
  @include to(600px){
    margin-top: calc(var(--section-v-offset) * 1.5);
    margin-bottom: -70px;
  }
  &__title {
    position: relative;
    z-index: 3;
    text-align: center;
    padding-left: var(--page-side-fields);
    padding-right: var(--page-side-fields);
    padding-top: calc(var(--section-v-offset) * 1.5);
    @include to(1024px){
      @include text-style-768-h-1;
    }
    @include to(600px){
      @include text-style-375-h-1;
      padding-top: 20px;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__top-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #e4e4ec 0%, rgba(228, 228, 236, 0) 100%);
    z-index: 2;
  }
  &__bottom-gradient {
    background: linear-gradient(0deg, #e4e4ec 0%, rgba(228, 228, 236, 0) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20vh;
  }
}

.home-advantages-block2 {
  position: relative;
  z-index: 2;
  background-color: var(--color-bg-colour);
  margin-top: -1px;
  padding-left: 20px;
  padding-bottom: var(--section-v-offset);
  @include from(1025px){
    height: 400vh;
  }
  @include from(1921px){
    height: 250vh;
  }
  @media screen and (max-width: 600px) {
    padding-right: 20px;
    padding-left: var(--page-side-fields);
    padding-right: 0;
    background-color: transparent;
  }
  &__navigation {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    @include from(601px) {
      display: none;
    }
    svg {
      height: 100%;
      width: auto;
      &.swiper-button-disabled {
        opacity: 0.5;
      }
    }
    &-counter {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 26px */
      color: var(--color-07222-f);
      margin-left: 18px;
      margin-right: 18px;
      @include from(601px){
        display: none;
      }
    }
  }
  .swiper {
    @include from(1025px){
      padding-top: calc(var(--header-h) + 30px);
    }
    @include from(601px) {
      overflow: visible;
    }
    @media screen and (max-width: 600px) {
      padding-top: 30px;
      padding-bottom: 25px;
    }
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
  &__item {
    position: relative;
    &-number {
      width: 100px;
      height: 100px;
      background-color: var(--color-bg-colour);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 600px) {
        width: 48px;
        height: 48px;
      }
    }
    &-img {
      padding-bottom: Min(100%, calc(100vh - var(--header-h)) );
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-text {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: pxWidthInVw(100);
      text-align: center;
      @include to(1025px){
        font-size: 36px;
      }
    }
  }
}
