.home-incredible-block {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(12, 1fr);
    @include to(1024px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width:600px){
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    &__item {
        padding: pxWidthInVw(40);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        @media screen and (max-width:600px){
            padding: 20px;
        }
        &-decor {
            margin-top: auto;
            margin-bottom: auto;
            width: 100%;
            @media screen and (max-width:600px){
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
        &-text {
            @media screen and (max-width:600px){
                margin-top: auto;
            }
        }
        &-title {
            display: flex;
            justify-content: space-between;
            width: 100%;
            column-gap: 20px;
        }
        svg {
            width: 100%;
            height: auto;
        }
        &.dark {
            background-color: var(--color-bg-colour);
        }
        &.medium {
            background: var(--White, #EFF3F7);
        }
        &.light {
            background-color: #fff;
        }
        &:not(.small) {
            @include from(1025px){
                grid-row: span 2; /* Item takes 2 columns */
            }
        }
        &.small &-title {
            margin-bottom: 48px;
        }
    }
}