
extends ../layout/main
block variable
  -
    var title_page = 'project'
    var id_page = 'home'
    var class_page = 'home '

block meta
  title= 'RIVERVILLE'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/home.bundle.js')
block content
  include ../includes/home/home-front-screen.pug
  include ../includes/home/home-about-screen.pug
  include ../includes/home/home-location-screen.pug
  include ../includes/home/home-sticky-block.pug
  include ../includes/home/home-advantages-block.pug
  include ../includes/home/home-incredible-block.pug
  include ../includes/home/home-gallery-screen.pug
  include ../includes/home/home-construction-screen.pug
  .home-video-block
    .home-video-block__title.text-style-1920-h-1 Відеотрансляція
    .home-video-block__frame
      iframe(src="https://www.youtube.com/embed/1w7OgIMMRc4", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
    <svg class="home-video-block__decor" width="1920" height="156" viewBox="0 0 1920 156" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 154.739V0H68.9714C86.6564 0 100.804 4.72478 110.826 13.5839C120.847 22.443 126.153 34.2552 126.153 49.611C126.153 62.0137 122.616 72.0541 116.131 79.7319C109.647 87.4098 100.804 93.3158 89.0144 96.2689L130.869 154.739H99.0359L60.7184 100.994H27.117V154.739H0ZM27.117 76.7789H66.6134C76.0454 76.7789 84.2984 74.4164 89.6039 69.6916C95.4989 64.9667 98.4464 58.4701 98.4464 50.2016C98.4464 41.9331 95.4989 35.4363 90.1934 31.3021C84.8879 27.1678 76.6349 24.8055 66.6134 24.8055H27.117V76.7789Z" fill="white"/>
      <path d="M254.074 0H226.958V154.739H254.074V0Z" fill="white"/>
      <path d="M412.06 155.33L348.394 0H378.459L424.439 118.712L471.01 0H500.485L436.229 155.33H412.06Z" fill="white"/>
      <path d="M593.036 154.739V0H707.399V24.2148H620.153V64.3761H697.378V88.591H620.153V129.934H708.578V154.739H593.036Z" fill="white"/>
      <path d="M806.435 154.739V0H875.407C893.092 0 907.24 4.72478 917.261 13.5839C927.283 22.443 932.588 34.2552 932.588 49.611C932.588 62.0137 929.051 72.0541 922.567 79.7319C916.082 87.4098 907.24 93.3158 895.45 96.2689L937.304 154.739H905.471L867.154 100.994H833.552V154.739H806.435ZM833.552 76.7789H873.049C882.481 76.7789 890.734 74.4164 896.039 69.6916C901.934 64.9667 904.882 58.4701 904.882 50.2016C904.882 41.9331 901.934 35.4363 896.629 31.3021C891.323 27.1678 883.07 24.8055 873.049 24.8055H833.552V76.7789Z" fill="white"/>
      <path d="M1082.91 155.33L1018.65 0H1048.72L1095.29 118.712L1141.86 0H1170.75L1107.08 155.33H1082.91Z" fill="white"/>
      <path d="M1292.18 0H1265.07V154.739H1292.18V0Z" fill="white"/>
      <path d="M1399.47 154.739V0H1426.59V129.934H1507.94V154.739H1399.47Z" fill="white"/>
      <path d="M1602.26 154.739V0H1629.38V129.934H1710.14V154.739H1602.26Z" fill="white"/>
      <path d="M1804.46 154.739V0H1918.82V24.2148H1831.58V64.3761H1908.8V88.591H1831.58V129.934H1920V154.739H1804.46Z" fill="white"/>
      </svg>
  .home-wave1-block(data-wave1-block)
    .home-wave1-block__content(data-wave1-block-content)
      <svg preserveAspectRatio="xMidYMid slice"  width="1920" height="970" viewBox="0 0 1920 970" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_263_130)">
        <rect width="1920" height="970" fill="white"/>
        <path data-wave-block-top d="M0 -388V464.385C29.7031 446.391 59.8062 434.696 90.3094 429.698C158.016 418.902 206.622 447.191 250.026 472.382L250.226 472.282C291.43 496.173 330.334 518.665 383.94 510.168C405.642 506.569 423.844 499.072 440.146 486.976L441.446 486.077L479.95 460.886V460.386C509.653 442.393 539.756 430.697 570.259 425.699C637.966 414.903 686.572 443.193 729.976 468.383L730.176 468.483C771.38 492.374 810.284 514.866 863.89 506.369C885.592 502.771 903.794 495.073 920.096 482.978L921.396 482.078L960.1 456.688V456.188C989.803 438.194 1019.91 426.499 1050.41 421.501C1118.12 410.705 1166.72 438.994 1210.13 464.185L1210.33 464.285C1251.53 488.176 1290.43 510.668 1344.04 502.171C1365.74 498.572 1383.84 490.875 1400.25 478.779L1401.55 477.88L1440.05 452.689V452.189C1469.75 434.196 1499.86 422.5 1530.36 417.502C1598.07 406.706 1646.67 434.996 1690.08 460.186L1690.28 460.286C1731.48 484.177 1770.38 506.669 1823.99 498.172C1845.69 494.574 1863.79 486.876 1880.2 474.781L1881.5 473.881L1920 448.691V-388H0Z" fill="#E4E4EC"/>
        <path data-wave-block-bottom d="M1830.9 539.08C1762.7 550.38 1713.1 521.48 1669.7 496.279L1667.8 495.179C1627.3 472.178 1589.2 450.378 1537.3 458.878C1508.1 463.878 1478 476.478 1448.7 496.779L1448.3 497.279L1440.3 502.279V502.379L1425.2 512.279C1403.5 528.48 1379.2 538.88 1350.8 543.38C1282.6 554.68 1233 525.78 1189.6 500.579L1187.7 499.479C1147.2 476.479 1109.1 454.678 1057.2 463.178C1028 468.178 997.9 480.779 968.6 501.079L968.2 501.579L960.2 506.579V506.679L945.1 516.579C923.4 532.78 899 543.18 870.7 547.68C802.5 558.98 752.9 530.08 709.5 504.879L707.6 503.779C667.1 480.779 629 458.978 577.1 467.478C547.9 472.478 517.8 485.079 488.5 505.379L488.1 505.879L480.1 510.879V510.979L465 520.88C443.3 537.08 418.9 547.48 390.6 551.98C322.4 563.281 272.8 534.38 229.4 509.179L227.5 508.079C187 485.079 148.9 463.278 97 471.778C67.8 476.778 37.7 489.379 8.4 509.679L8 510.179L0 515.179L0 1357H1920V498.779L1904.9 508.679C1883.5 524.28 1859.2 534.58 1830.9 539.08Z" fill="#E4E4EC"/>
        </g>
        <defs>
        <clipPath id="clip0_263_130">
        <rect width="1920" height="970" fill="white"/>
        </clipPath>
        </defs>
      </svg>
  include ../includes/home/home-news-screen.pug
  .home-wave2-block(data-wave2-block)
    .home-wave2-block__content(data-wave2-block-content)
      <svg preserveAspectRatio="xMidYMid slice"   width="1920" height="970" viewBox="0 0 1920 970" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_263_197)">
        <rect width="1920" height="970" fill="white"/>
        <path data-wave2-block-bottom d="M1761.3 555.7L1674.9 469L1588.9 555.7L1502.5 469L1440 532L1377.5 469L1291.1 555.7L1205.1 469L1118.7 555.7L1032.7 469L960 542.3L887.3 469L801.3 555.7L714.9 469L628.9 555.7L542.5 469L480 532L417.5 469L331.1 555.7L245.1 469L158.7 555.7L72.7 469L0 542.3V1269.5H1920V542.3L1847.3 469L1761.3 555.7Z" fill="#E4E4EC"/>
        <path data-wave2-block-top  d="M0 -298V488.1L72.7 414.8L158.7 502L245.1 414.8L331.1 502L417.5 414.8L480 478.3L542.5 414.8L628.9 502L714.9 414.8L801.3 502L887.3 414.8L960 488.1L1032.7 414.8L1118.7 502L1205.1 414.8L1291.1 502L1377.5 414.8L1440 478.3L1502.5 414.8L1588.9 502L1674.9 414.8L1761.3 502L1847.3 414.8L1920 488.1V-298H0Z" fill="#E4E4EC"/>
        </g>
        <defs>
        <clipPath id="clip0_263_197">
        <rect width="1920" height="970" fill="white"/>
        </clipPath>
        </defs>
      </svg>
  include ../includes/contact-screen.pug

block footer

block header
  include ../includes/header.pug