@font-face {
	font-family: 'Century Gothic';
	font-display: swap;
	src: url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'Century Gothic';
	font-display: swap;
	src: url('../fonts/CenturyGothic/CenturyGothic.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Century Gothic';
	font-display: swap;
	src: url('../fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
}