$default-font: "Century Gothic",
	sans-serif;
$default-font2: "montser",
	sans-serif;

$mc2: #FF554C;
$mc3: #E5DF06;
$mc4: #4F90B6;
$gray: rgb(135, 135, 151);
$text: #22223E;
$wc: #fff;
$bc: #000;
$bc2: #000;

$color-ffffff: rgba(255,255,255,1);
$color-white: rgba(239,243,247,1);
$color-bg-colour: rgba(228,228,236,1);
$color-b-1-c-6-c-9: rgba(177,198,201,1);
$color-5-d-85-a-3: rgba(93,133,163,1);
$color-14427-c: rgba(20,66,124,1);
$color-07222-f: rgba(7,34,47,1);
$color-000000: rgba(0,0,0,1);

:root {
	--color-ffffff: rgba(255,255,255,1);
	--color-white: rgba(239,243,247,1);
	--color-bg-colour: rgba(228,228,236,1);
	--color-b-1-c-6-c-9: rgba(177,198,201,1);
	--color-5-d-85-a-3: rgba(93,133,163,1);
	--color-14427-c: rgba(20,66,124,1);
	--color-07222-f: rgba(7,34,47,1);
	--color-000000: rgba(0,0,0,1);
}


.color-ffffff {
	color: rgba(255,255,255,1);
}
.color-white {
	color: rgba(239,243,247,1);
}
.color-bg-colour {
	color: rgba(228,228,236,1);
}
.color-b-1-c-6-c-9 {
	color: #b1c6c9;
}
.color-5-d-85-a-3 {
	color: rgba(93,133,163,1);
}
.color-14427-c {
	color: rgba(20,66,124,1);
}
.color-07222-f {
	color: rgba(7,34,47,1);
}
.color-000000 {
	color: rgba(0,0,0,1);
}




$mc: $color-000000;
$bg: $color-14427-c;
$light: $color-5-d-85-a-3;
$dark: #1A2941;
$gold: #CFA46E;

:root {
	--in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
	--header-h: 90px;
	--logo-w: 155px;
	--sliceFigure: 239px;
	--sliceFigure-big: 541px;
	--page-side-fields: 40px;
	--section-v-offset: 150px;
	--button-color: #001A58;
}

@media screen and (max-width: 1440px) {
	:root {
		--header-h: 86px;
		--logo-w: 120px;
		--sliceFigure-big: 362px;
		--section-v-offset: 100px;
	}
}

@media screen and (max-width:1024px){
	:root {
		--page-side-fields: 20px;
	}
}


@media screen and (max-width: 992px) {
	:root {
		--header-h: 110px;
		--logo-w: 90px;
		--sliceFigure-big: 44px;
	}
}

@media screen and (max-width: 576px) {
	:root {
		--header-h: 70px;
		--section-v-offset: 75px;
		--page-side-fields: 12px;
	}
}


.tablet {
	--page-side-fields: 20px;
	--section-v-offset: 50px;
	--header-h: 80px;

	.page__inner {
		max-width: 100vw;
		overflow: hidden;
	}
}

.mobile {
	--page-side-fields: 12px;
	--section-v-offset: 50px;
	--header-h: 55px;

	.page__inner {
		max-width: 100vw;
		overflow: hidden;
	}
}

@mixin text-style-1920-h-1() {
	font-size: pxWidthInVw(90);
	font-family: Century Gothic;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	letter-spacing: -0.06em;
	text-decoration: none;
	text-transform: none;
	@media screen and (max-width:1024px){
		font-size: 48px;
	}
	@media screen and (max-width:1024px){
		font-size: 32px;
	}
}
.text-style-1920-h-1 {
	@include text-style-1920-h-1;
}

@mixin text-style-768-h-1 {
	font-family: Century Gothic;
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 64px */
	letter-spacing: -3.84px;
}

@mixin text-style-375-h-1 {
	font-family: "Century Gothic";
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 40px */
	letter-spacing: -2.4px;
}

@mixin text-style-375-h-2 {
	font-family: "Century Gothic";
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 28px */
letter-spacing: -1.68px;
text-transform: uppercase;
}

@mixin text-style-1920-h-2() {
	font-size: 48px;
	font-size: pxWidthInVw(48);
	font-family: Century Gothic;
	font-weight: 700;
	font-style: normal;
	line-height: 100%;
	letter-spacing: -0.06em;
	text-decoration: none;
	text-transform: uppercase;
	@media screen and (max-width:1024px){
		font-size: 36px;
	}
	@media screen and (max-width:600px){
		font-size: 28px;
	}
}


.text-style-1920-h-2 {
	@include text-style-1920-h-2;
}

@mixin text-style-375-h-3 {
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 32px */
	letter-spacing: -1.92px;
}

@mixin text-style-1920-h-3() {
	font-size: 60px;
	font-size: Min(pxWidthInVw(60), 60px);
	font-family: Century Gothic;
	font-weight: 400;
	font-style: normal;
	line-height: 100%;
	letter-spacing: -0.06em;
	text-decoration: none;
	text-transform: none;
	@media screen and (max-width:1024px){
		font-size: 60px;
	}
	@media screen and (max-width:600px){
		font-size: 32px;
		@include text-style-375-h-3;
	}
}
.text-style-1920-h-3 {
	@include text-style-1920-h-3;
}

@mixin text-style-768-h-3 {
	font-family: Century Gothic;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 48px */
	letter-spacing: -2.88px;
}

.text-style-768-h-3 {
	@include text-style-768-h-3;
}

@mixin text-style-1920-h-4() {
	font-size: 32px;
	font-size: pxWidthInVw(32);
	font-family: Century Gothic;
	font-weight: 400;
	font-style: normal;
	line-height: 120%;
	letter-spacing: -0.06em;
	text-decoration: none;
	text-transform: none;
	@media screen and (max-width:1024px){
		font-size: 32px;
	}
	@media screen and (max-width:600px){
		font-size: 16px;
	}
}

@mixin text-style-768-h-4 {
	font-family: "Century Gothic";
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 33.6px */
	letter-spacing: -1.68px;
}

@mixin text-style-375-h-4 {
	font-family: "Century Gothic";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 21.6px */
	letter-spacing: -1.08px;
}
.text-style-1920-h-4 {
	@include text-style-1920-h-4;
	@media screen and (max-width:1024px){
		@include text-style-768-h-4;
	}
	@media screen and (max-width:600px){
		@include text-style-375-h-4;
	}
}

@mixin text-style-1920-links() {
	font-size: 24px;
	font-size: pxWidthInVw(24);
	font-family: Century Gothic;
	font-weight: 700;
	font-style: normal;
	line-height: 140%;
	letter-spacing: -0.04em;
	text-decoration: none;
	text-transform: uppercase;
	@media screen and (max-width:1024px){
		font-size: 18px;
	}
	@media screen and (max-width:600px){
		font-size: 32px;
	}
}
.text-style-1920-links {
	@include text-style-1920-links;
}
@mixin text-style-1920-body() {
	font-size: Min(18px, pxWidthInVw(18));
	font-family: Century Gothic;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
	letter-spacing: -0.06em;
	text-decoration: none;
	text-transform: none;
	@media screen and (max-width:1024px){
		font-size: 18px;
	}
	@media screen and (max-width:600px){
		font-size: 14px;
	}
}
.text-style-1920-body {
	@include text-style-1920-body;
}
@mixin text-style-1920-button() {
	font-size: 16px;
	font-size: pxWidthInVw(16);
	font-family: Century Gothic;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
	letter-spacing: -0.04em;
	text-decoration: none;
	text-transform: uppercase;
	@media screen and (max-width:1024px){
		font-size: 16px;
	}
	@media screen and (max-width:600px){
		font-size: 14px;
	}
}
.text-style-1920-button {
	@include text-style-1920-button;
}
@mixin text-style-1920-tiny() {
	font-size: 12px;
	font-family: Century Gothic;
	font-weight: 400;
	font-style: normal;
	line-height: 140%;
	letter-spacing: -0.06em;
	text-decoration: none;
	text-transform: uppercase;
}
.text-style-1920-tiny {
	@include text-style-1920-tiny;
}