.home-news-screen
  .home-news-screen__content
    .home-news-screen__title.text-style-1920-h-1 Новини
    .news-card(data-popup-call)
      .news-card__image
        img(src="./assets/images/home/home-news-screen/1.jpg", alt="", srcset="" loading="lazy")
      .news-card__content
        .news-card__date.text-style-1920-button 19/07/2024
        .news-card__title.text-style-1920-h-4 Відкриття відділу продажів у RIVERVILLE, ЖК
    .news-card(data-popup-call)
      .news-card__image
        img(src="./assets/images/home/home-news-screen/2.jpg", alt="", srcset="" loading="lazy")
      .news-card__content
        .news-card__date.text-style-1920-button 14/07/2024
        .news-card__title.text-style-1920-h-4 Встигніть здійснити бажання про власне житло! Продаж квартир у нашому жк відкрито!
    .news-card(data-popup-call)
      .news-card__image
        img(src="./assets/images/home/home-news-screen/3.jpg", alt="", srcset="" loading="lazy")
      .news-card__content
        .news-card__date.text-style-1920-button 02/07/2024
        .news-card__title.text-style-1920-h-4 Акція! Купуйте квартиру з першим внеском 30%
    button(type="button" data-popup-call).button-30
      span Дивитись більше новин 