.home-construction-screen
  .home-construction-screen__title.text-style-1920-h-1 Хід будівництва
  .home-construction-screen__content
    .construction-card
      .construction-card__img
        img(src="./assets/images/home/home-construction-screen/card2.jpg", alt="", srcset="" loading="lazy")
      .construction-card__text
        .construction-card__title.text-style-1920-h-4 Липень 2024
        button(type="button" data-popup-call).construction-card__button
          span Дивитись звіт
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.999986 8.49992L1.49999 8.49992L12.7929 8.49992L7.64643 13.6464L7.29288 13.9999L7.99999 14.707L8.35354 14.3535L14.3535 8.35348L14.7071 7.99992L14.3535 7.64637L8.35354 1.64637L7.99999 1.29282L7.29288 1.99992L7.64643 2.35348L12.7929 7.49992L1.49999 7.49992L0.999986 7.49992L0.999986 8.49992Z" fill="white"/>
          </svg>
    .construction-card
      .construction-card__img
        img(src="./assets/images/home/home-construction-screen/card1.jpg", alt="", srcset="" loading="lazy")
      .construction-card__text
        .construction-card__title.text-style-1920-h-4 Червень
        button(type="button" data-popup-call).construction-card__button
          span Дивитись звіт
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.999986 8.49992L1.49999 8.49992L12.7929 8.49992L7.64643 13.6464L7.29288 13.9999L7.99999 14.707L8.35354 14.3535L14.3535 8.35348L14.7071 7.99992L14.3535 7.64637L8.35354 1.64637L7.99999 1.29282L7.29288 1.99992L7.64643 2.35348L12.7929 7.49992L1.49999 7.49992L0.999986 7.49992L0.999986 8.49992Z" fill="white"/>
          </svg>
    button(type="button" data-popup-call).button-30.button-30--light
      span Дивитись більше звітів
