.home-front-screen
    .home-front-screen__content
      div.text-style-1920-h-1.home-front-screen__title Подалі від метушні & <br>у центрі подій
      .home-front-screen__arrow
        <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.5 47L30.5 13M30.5 47L47.5 30M30.5 47L13.5 30" stroke="#07222F" stroke-width="3"/>
        </svg>
        .text-style-1920-tiny дізнатися більше
    .home-front-screen__top-gradient
    .home-front-screen__bottom-gradient
    <div class="home-front-screen__video">
      <video loop autoplay muted playsinline poster="./assets/images/home/home-front-screen-bg@075x_mobile.jpg" loading="lazy">
        //- <source src="https://gfe-wp.smartorange.com.ua/wp-content/themes/3d/assets/images/homepage/hero-video-mobile.mp4" type="video/mp4" media="(max-width:768px)">
        <source src="./assets/images/home/front-screen-video.mp4" type="video/mp4">
      </video>
      <div class="home-front-screen__video-btn circle-animation home-front-screen__video-btn--desktop">
        <svg class="open" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
          <path d="M3 9.59788V1.40212C3 1.00941 3.43197 0.769984 3.765 0.978124L10.3216 5.076C10.6349 5.27183 10.6349 5.72817 10.3216 5.924L3.765 10.0219C3.43198 10.23 3 9.99059 3 9.59788Z" fill="" />
        </svg>
        <span class="home-front-screen__video-btn-text text-txt">Відео</span>
        <svg class="close" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
          <path d="M15.5 15.5L1.5 1.5M1.5 15.5L15.5 1.5L1.5 15.5Z" stroke="" stroke-width="2" />
        </svg>
      </div>
    </div>
    .home-front-screen__bg
      <picture>
        <source srcset="./assets/images/home/home-front-screen-bg.jpg" media="(min-width: 1440px)">
        <source srcset="./assets/images/home/home-front-screen-bg@075x.jpg" media="(min-width: 767px) and (max-width: 1439px)">
        <source srcset="./assets/images/home/home-front-screen-bg@075x_mobile.jpg" media="(max-width: 767px)">
        //- <img src="./assets/images/home/home-front-screen-bg@075x.jpg" alt="" loading="lazy">
        <img src="#" alt="" loading="lazy">
      </picture>