.home-location-screen
  .home-location-screen__content
    <svg class="home-location-screen__decor" width="61" height="18" viewBox="0 0 61 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.23731 6.91429L20.1644 18L31.1477 6.91429L42.0748 18L53.0582 6.91429L61 14.9714V8.11429L53.0582 0L42.0748 11.1429L31.1477 0L20.1644 11.1429L9.23731 0L0 9.37143V16.2857L9.23731 6.91429Z" fill="#5D85A3"/>
    </svg>
    div.home-location-screen__title.text-style-1920-h-1 Локація
    div.text-style-1920-body Вдало розташований житловий комплекс має зручне сполучення з іншими частинами міста та забезпечує безліч можливостей для дозвілля, бізнес-активностей та сучасного міського життя
    <svg width="21" height="32" viewBox="0 0 21 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5 9.66038C20.5 3.32076 15.8031 0 10.5001 0C5.19707 0 0.5 3.32075 0.5 9.66038C0.5 10.9887 1.20707 12.9308 1.5606 13.7358L10.5001 32L19.4394 13.7359C19.7929 12.9308 20.5 10.9887 20.5 9.66038ZM10.5 15C13.2614 15 15.5 12.7614 15.5 10C15.5 7.23858 13.2614 5 10.5 5C7.73858 5 5.5 7.23858 5.5 10C5.5 12.7614 7.73858 15 10.5 15Z" fill="#07222F"/>
    </svg>
  .home-location-screen__bg-wrapper
    .home-location-screen__top-gradient
    .home-location-screen__bg
      img(src="./assets/images/home/home-location-screen/home-location-screen-bg.jpg", alt="", srcset="" loading="lazy")
    <svg class="home-location-screen__slogan" width="1921" height="156" viewBox="0 0 1921 156" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 154.739V0H68.9898C86.6794 0 100.831 4.72478 110.855 13.5839C120.879 22.443 126.186 34.2552 126.186 49.611C126.186 62.0137 122.648 72.0541 116.162 79.7319C109.676 87.4098 100.831 93.3158 89.0381 96.2689L130.904 154.739H99.0622L60.7346 100.994H27.1242V154.739H0ZM27.1242 76.7789H66.6311C76.0656 76.7789 84.3208 74.4164 89.6277 69.6916C95.5243 64.9667 98.4726 58.4701 98.4726 50.2016C98.4726 41.9331 95.5243 35.4363 90.2174 31.3021C84.9105 27.1678 76.6553 24.8055 66.6311 24.8055H27.1242V76.7789Z" fill="#EFF3F7"/>
      <path d="M254.142 0H227.018V154.739H254.142V0Z" fill="#EFF3F7"/>
      <path d="M412.169 155.33L348.487 0H378.559L424.552 118.712L471.135 0H500.618L436.345 155.33H412.169Z" fill="#EFF3F7"/>
      <path d="M593.194 154.739V0H707.587V24.2148H620.318V64.3761H697.563V88.591H620.318V129.934H708.766V154.739H593.194Z" fill="#EFF3F7"/>
      <path d="M806.65 154.739V0H875.639C893.329 0 907.481 4.72478 917.505 13.5839C927.529 22.443 932.836 34.2552 932.836 49.611C932.836 62.0137 929.298 72.0541 922.812 79.7319C916.326 87.4098 907.481 93.3158 895.688 96.2689L937.553 154.739H905.712L867.384 100.994H833.774V154.739H806.65ZM833.774 76.7789H873.281C882.715 76.7789 890.97 74.4164 896.277 69.6916C902.174 64.9667 905.122 58.4701 905.122 50.2016C905.122 41.9331 902.174 35.4363 896.867 31.3021C891.56 27.1678 883.305 24.8055 873.281 24.8055H833.774V76.7789Z" fill="#EFF3F7"/>
      <path d="M1083.2 155.33L1018.93 0H1049L1095.58 118.712L1142.16 0H1171.06L1107.37 155.33H1083.2Z" fill="#EFF3F7"/>
      <path d="M1292.53 0H1265.4V154.739H1292.53V0Z" fill="#EFF3F7"/>
      <path d="M1399.84 154.739V0H1426.97V129.934H1508.34V154.739H1399.84Z" fill="#EFF3F7"/>
      <path d="M1602.68 154.739V0H1629.81V129.934H1710.59V154.739H1602.68Z" fill="#EFF3F7"/>
      <path d="M1804.94 154.739V0H1919.33V24.2148H1832.06V64.3761H1909.31V88.591H1832.06V129.934H1920.51V154.739H1804.94Z" fill="#EFF3F7"/>
    </svg>
    <svg class="home-location-screen__light" xmlns="http://www.w3.org/2000/svg" width="1354" height="1354" fill="none" viewBox="0 0 1354 1354">
      <g class="ligt__Ligt">
        <g class="ligt__Ellipse ligt__2" filter="url(#ligt__a)">
          <circle cx="677" cy="677" r="377" fill="#FDD3BD"/>
        </g>
        <g class="ligt__Ellipse ligt__3" filter="url(#ligt__b)">
          <circle cx="677" cy="677" r="268.667" fill="#FFE486" fill-opacity=".2"/>
        </g>
        <g class="ligt__Ellipse ligt__4" filter="url(#ligt__c)">
          <circle cx="677" cy="677" r="169" fill="#FBEFEE"/>
        </g>
      </g>
      <defs>
        <filter id="ligt__a" width="1354" height="1354" x="0" y="0" class="ligt__a" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feGaussianBlur result="effect1_foregroundBlur_249_592" stdDeviation="150"/>
        </filter>
        <filter id="ligt__b" width="837.333" height="837.333" x="258.333" y="258.333" class="ligt__b" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feGaussianBlur result="effect1_foregroundBlur_249_592" stdDeviation="75"/>
        </filter>
        <filter id="ligt__c" width="738" height="738" x="308" y="308" class="ligt__c" color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
          <feGaussianBlur result="effect1_foregroundBlur_249_592" stdDeviation="100"/>
        </filter>
      </defs>
    </svg>
  //- .home-location-screen__bg
  //-   img(src="./assets/images/home/home-location-screen/home-locarion-screen-bg.jpg", alt="", srcset="")
