.footer {
  padding-left: var(--page-side-fields);
  padding-right: var(--page-side-fields);
  
  // padding-bottom: 30px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  text-transform: uppercase;
    text-transform: uppercase;
  color: #696865;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* identical to box height, or 17px */

  letter-spacing: -0.03em;
  color: var(--color-white);
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 100%;
  z-index: 2;
  @media screen and (max-width:600px){
    // margin-bottom: -5px;
    padding-right: 0;
    bottom: 0;
    padding-bottom: 20px;
  }

  .delimiter {
    margin-bottom: 40px;
  }
  .dev-logo {
    // position: absolute;
    // right: var(--page-side-fields);
    // bottom: -5px;
    width: 52px;
    height: 57px;
    @include to(600px){
      width: 41px;
      height: 45px;
      align-self: flex-end;
      transform: translateY(20px);
      svg {
        width: 41px;
        height: 45px;
      }
    }
  }
  p~p {
    margin-top: 2px;
  }
  p {
    @include to(600px){
      width: 185px;
    }
  }
  &-up-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      -webkit-animation: bounce-top 3s infinite both;
      animation: bounce-top 3s infinite both;
      transform-origin: center;
      transform-box: fill-box;
    }
    [stroke] {
      stroke: var(--color-white);
    }
    @media screen and (max-width:600px){
      span {
        display: none;
      }
    }
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
.tablet,
.mobile {
  .footer {
    padding-bottom: 20px;
    padding-right: 75px;
    .dev-logo {
      right: 0;
    }
    .delimiter {
      margin-bottom: 20px;
    }
    p~p {
      margin-top: 8px;
    }
  }
}